<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scraper User Interface</title>

</head>
<body>
<button id="button-single-file">Download Single File</button>
<p id="single-file-response"></p>
<button id="button-file-range">Download Files 1 - 5</button>
<p id="file-range-response"></p>
<button id="button-all-files">Download All Files</button>
<p id="all-files-response"></p>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../static/scripts.js"></script>
</body>
</html>